In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings('ignore')

In [14]:
dataset= pd.read_csv("WFH_WFO_dataset.csv")
dataset.head()

,ID,Name,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,1,Bhavana,45,Tutor,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,2,Harry,24,Tutor,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,3,Banditaa,53,HR,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,4,Neetha,26,Engineer,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,5,Ram,26,Recruiter,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1

In [15]:
dataset.dtypes

ID                              int64
Name                           object
Age                             int64
Occupation                     object
Gender                         object
Same_ofiice_home_location      object
kids                           object
RM_save_money                  object
RM_quality_time                object
RM_better_sleep                object
calmer_stressed                object
RM_professional_growth          int64
RM_lazy                         int64
RM_productive                   int64
digital_connect_sufficient     object
RM_better_work_life_balance     int64
RM_improved_skillset            int64
RM_job_opportunities           object
Target                          int64
dtype: object

In [16]:
dataset.columns

Index(['ID', 'Name', 'Age', 'Occupation', 'Gender',
       'Same_ofiice_home_location', 'kids', 'RM_save_money', 'RM_quality_time',
       'RM_better_sleep', 'calmer_stressed', 'RM_professional_growth',
       'RM_lazy', 'RM_productive', 'digital_connect_sufficient',
       'RM_better_work_life_balance', 'RM_improved_skillset',
       'RM_job_opportunities', 'Target'],
      dtype='object')

In [17]:
dataset.head()

,ID,Name,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,1,Bhavana,45,Tutor,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,2,Harry,24,Tutor,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,3,Banditaa,53,HR,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,4,Neetha,26,Engineer,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,5,Ram,26,Recruiter,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1

In [20]:
dataset.shape

(207, 19)

In [21]:
dataset.drop(["ID","Name"],axis=1,inplace=True)
dataset.head()

,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,45,Tutor,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,24,Tutor,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,53,HR,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,26,Engineer,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,26,Recruiter,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1

In [22]:
dataset.shape

(207, 17)

In [25]:
print(dataset["Occupation"].unique())

['Tutor' 'HR' 'Engineer' 'Recruiter' 'Business' 'Marketing ' 'Manager']

In [27]:
Occupation_mapping= {
    "Tutor" :0,
    "HR": 1,
    "Engineer": 2,
    "Recruiter": 3,
    "Business": 4,
    "Marketing": 5,
    "Manager": 6
}

dataset["Occupation"] = dataset["Occupation"].replace(Occupation_mapping)
dataset.head()

,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,45,0,Female,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,24,0,Male,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,53,1,Female,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,26,2,Female,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,26,3,Male,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1

In [28]:
dataset["Gender"] = dataset["Gender"].replace({
    "Female": 0,
    "Male": 1
})
dataset.head(10)

,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,45,0,0,Yes,Yes,Yes,Yes,Yes,CALMER,5,1,5,Yes,5,5,Yes,1
1,24,0,1,No,No,No,No,No,CALMER,2,2,2,No,3,3,No,1
2,53,1,0,Yes,Yes,Yes,Yes,Yes,CALMER,3,3,4,No,5,3,No,1
3,26,2,0,Yes,No,Yes,Yes,No,STRESSED,3,4,4,No,4,5,Yes,0
4,26,3,1,Yes,No,No,Yes,No,STRESSED,3,3,5,Yes,4,2,Yes,1
5,27,3,1,No,No,Yes,Yes,Yes,CALMER,3,3,3,No,3,5,Yes,0
6,24,2,1,Yes,No,No,No,No,CALMER,3,4,2,No,2,3,Not sure,1
7,36,2,0,No,No,No,Yes,No,STRESSED,3,4,3,No,3,4,Not sure,0
8,26,2,1,No,No,Yes,Yes,Yes,STRESSED,2,4,3,No,2,4,Not sure,0
9,26,3,0,No,No,Yes,Yes,Yes,CALMER,3,2,4,No,4,3,Not sure,1

In [82]:
print(dataset["RM_productive"].min())
print(dataset["RM_productive"].max())
print(dataset["RM_productive"].nunique())

1
5
5

In [30]:
dataset= dataset.replace({"Yes": 1, "No": 0, "Not sure": 2})
dataset.head(10)

,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,45,0,0,1,1,1,1,1,CALMER,5,1,5,1,5,5,1,1
1,24,0,1,0,0,0,0,0,CALMER,2,2,2,0,3,3,0,1
2,53,1,0,1,1,1,1,1,CALMER,3,3,4,0,5,3,0,1
3,26,2,0,1,0,1,1,0,STRESSED,3,4,4,0,4,5,1,0
4,26,3,1,1,0,0,1,0,STRESSED,3,3,5,1,4,2,1,1
5,27,3,1,0,0,1,1,1,CALMER,3,3,3,0,3,5,1,0
6,24,2,1,1,0,0,0,0,CALMER,3,4,2,0,2,3,2,1
7,36,2,0,0,0,0,1,0,STRESSED,3,4,3,0,3,4,2,0
8,26,2,1,0,0,1,1,1,STRESSED,2,4,3,0,2,4,2,0
9,26,3,0,0,0,1,1,1,CALMER,3,2,4,0,4,3,2,1

In [31]:
print(dataset["calmer_stressed"].unique())

['CALMER' 'STRESSED']

In [32]:
dataset = dataset.replace({"CALMER": 1, "STRESSED": 0})

In [55]:
dataset = dataset.dropna(subset=['Same_ofiice_home_location','RM_job_opportunities','Occupation'])

In [56]:
dataset.head()

,Age,Occupation,Gender,Same_ofiice_home_location,kids,RM_save_money,RM_quality_time,RM_better_sleep,calmer_stressed,RM_professional_growth,RM_lazy,RM_productive,digital_connect_sufficient,RM_better_work_life_balance,RM_improved_skillset,RM_job_opportunities,Target
0,45,0.0,0,1.0,1,1,1,1,1,5,1,5,1,5,5,1,1
1,24,0.0,1,0.0,0,0,0,0,1,2,2,2,0,3,3,0,1
2,53,1.0,0,1.0,1,1,1,1,1,3,3,4,0,5,3,0,1
3,26,2.0,0,1.0,0,1,1,0,0,3,4,4,0,4,5,1,0
4,26,3.0,1,1.0,0,0,1,0,0,3,3,5,1,4,2,1,1

In [57]:
dataset.isnull().sum()

Age                            0
Occupation                     0
Gender                         0
Same_ofiice_home_location      0
kids                           0
RM_save_money                  0
RM_quality_time                0
RM_better_sleep                0
calmer_stressed                0
RM_professional_growth         0
RM_lazy                        0
RM_productive                  0
digital_connect_sufficient     0
RM_better_work_life_balance    0
RM_improved_skillset           0
RM_job_opportunities           0
Target                         0
dtype: int64

In [58]:
dataset.dtypes

Age                              int64
Occupation                     float64
Gender                           int64
Same_ofiice_home_location      float64
kids                             int64
RM_save_money                    int64
RM_quality_time                  int64
RM_better_sleep                  int64
calmer_stressed                  int64
RM_professional_growth           int64
RM_lazy                          int64
RM_productive                    int64
digital_connect_sufficient       int64
RM_better_work_life_balance      int64
RM_improved_skillset             int64
RM_job_opportunities             int64
Target                           int64
dtype: object

In [60]:
dataset['Occupation']=dataset['Occupation'].astype(int)
dataset['Same_ofiice_home_location']=dataset['Same_ofiice_home_location'].astype(int)
dataset.dtypes

Age                            int64
Occupation                     int64
Gender                         int64
Same_ofiice_home_location      int64
kids                           int64
RM_save_money                  int64
RM_quality_time                int64
RM_better_sleep                int64
calmer_stressed                int64
RM_professional_growth         int64
RM_lazy                        int64
RM_productive                  int64
digital_connect_sufficient     int64
RM_better_work_life_balance    int64
RM_improved_skillset           int64
RM_job_opportunities           int64
Target                         int64
dtype: object

In [61]:
x= dataset.iloc[:, :-1]
y= dataset.iloc[:, -1]
print(x)

     Age  Occupation  Gender  Same_ofiice_home_location  kids  RM_save_money  \
0     45           0       0                          1     1              1
1     24           0       1                          0     0              0
2     53           1       0                          1     1              1
3     26           2       0                          1     0              1
4     26           3       1                          1     0              0
..   ...         ...     ...                        ...   ...            ...
200   24           1       0                          0     1              1
201   28           6       1                          1     0              0
202   32           2       0                          1     1              1
203   52           4       1                          1     1              1
206   23           0       0                          0     0              1

     RM_quality_time  RM_better_sleep  calmer_stressed  \
0                  1                1                1
1                  0                0                1
2                  1                1                1
3                  1                0                0
4                  1                0                0
..               ...              ...              ...
200                0                0                0
201                0                0                0
202                1                1                1
203                1                1                1
206                1                1                1

     RM_professional_growth  RM_lazy  RM_productive  \
0                         5        1              5
1                         2        2              2
2                         3        3              4
3                         3        4              4
4                         3        3              5
..                      ...      ...            ...
200                       5        3              5
201                       2        4              3
202                       4        1              5
203                       4        4              4
206                       3        3              4

     digital_connect_sufficient  RM_better_work_life_balance  \
0                             1                            5
1                             0                            3
2                             0                            5
3                             0                            4
4                             1                            4
..                          ...                          ...
200                           1                            1
201                           0                            2
202                           1                            3
203                           1                            5
206                           0                            2

     RM_improved_skillset  RM_job_opportunities
0                       5                     1
1                       3                     0
2                       3                     0
3                       5                     1
4                       2                     1
..                    ...                   ...
200                     3                     0
201                     5                     2
202                     3                     2
203                     3                     0
206                     3                     0

[180 rows x 16 columns]

In [62]:
print(y)

0      1
1      1
2      1
3      0
4      1
      ..
200    0
201    0
202    1
203    1
206    0
Name: Target, Length: 180, dtype: int64

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [68]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()

x_train = ms.fit_transform(x_train)
x_test = ms.transform(x_test)

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [70]:
models = {
    'Logistic Regression': LogisticRegression(),
    'Naive Bayes': GaussianNB(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Bagging': BaggingClassifier(),
    'AdaBoost': AdaBoostClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Extra Trees': ExtraTreeClassifier(),
}

In [72]:
for name, model in models.items():
    model.fit(x_train,y_train)
    ypred = model.predict(x_test)
    
    print(f"{name}  with accuracy : {accuracy_score(y_test,ypred)}")
    print("Confusion matrix : ",confusion_matrix(y_test,ypred))
    print("==========================================================")

Logistic Regression  with accuracy : 0.7777777777777778
Confusion matrix :  [[20  3]
 [ 5  8]]
==========================================================
Naive Bayes  with accuracy : 0.6111111111111112
Confusion matrix :  [[15  8]
 [ 6  7]]
==========================================================
Support Vector Machine  with accuracy : 0.8055555555555556
Confusion matrix :  [[20  3]
 [ 4  9]]
==========================================================
K-Nearest Neighbors  with accuracy : 0.6666666666666666
Confusion matrix :  [[16  7]
 [ 5  8]]
==========================================================
Decision Tree  with accuracy : 1.0
Confusion matrix :  [[23  0]
 [ 0 13]]
==========================================================
Random Forest  with accuracy : 1.0
Confusion matrix :  [[23  0]
 [ 0 13]]
==========================================================
Bagging  with accuracy : 0.9722222222222222
Confusion matrix :  [[22  1]
 [ 0 13]]
==========================================================
AdaBoost  with accuracy : 0.9722222222222222
Confusion matrix :  [[22  1]
 [ 0 13]]
==========================================================
Gradient Boosting  with accuracy : 0.9722222222222222
Confusion matrix :  [[22  1]
 [ 0 13]]
==========================================================
Extra Trees  with accuracy : 1.0
Confusion matrix :  [[23  0]
 [ 0 13]]
==========================================================

In [73]:
dataset.shape

(180, 17)

In [74]:
# finally selected randomforest model

rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)
ypred = rfc.predict(x_test)
accuracy_score(y_test,ypred)

0.9722222222222222

In [75]:
import pickle

In [76]:
pickle.dump(rfc,open('model.pkl','wb'))
pickle.dump(ms,open('minmaxscaler.pkl','wb'))